html, body {
    height: 100%;
    min-width: 1080px;
    background: #f8f8f8;
    font-family: Arial, Helvetica, sans-serif;
}


header ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.brasao {
    padding: 0px 20px 20px 20px;
}

#menucima {
    padding: 10px;
}

#cabecalhologo {
    display: flex;
    height: 117px;
    background-image: url(../RES/topo60.jpg);
    justify-content: space-evenly;
    align-items: center;
}


#posicaologo{
    float: left;
    width: 560px;
    display: block;
    height: 117px;
}

#menu {
    background-color: #5A84B7;
}

#menu ul li a{
    font-size: 13px;
    text-decoration: none;
    color: white;
}

#menu ul li {
    padding: 13px 0px;
    margin-right: 10px;
}

#menu ul li:hover{
    background-color: #344C68;
    
}

#form-itens input{
    padding: 8px;
    display: inline-block;
}

#main {
    padding-top: 15px;
}

#conteudo {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    width: 1000px;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    min-height: 600px; 
}

.paozin {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    height: 10px;
    padding-top: 7px;
    padding-right: 20px;
    padding-bottom: 17px;
    padding-left: 20px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(240, 240, 240);
    border-right-color: rgb(240, 240, 240);
    border-bottom-color: rgb(240, 240, 240);
    border-left-color: rgb(240, 240, 240);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    width: 960px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.paozin {
    padding-bottom: 0.5em;
}

.paozin a {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: dodgerblue;
    font-weight: normal;
}

div#midiascima {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: white;
    color: dodgerblue;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(240, 240, 240);
    border-right-color: rgb(240, 240, 240);
    border-bottom-color: rgb(240, 240, 240);
    border-left-color: rgb(240, 240, 240);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    width: 960px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    float: left;
}

#compartilhe {
    float: right;
    width: 140px;
    padding-top: 5px;
}

div#Bloconotexto {

    height: 450px;
}

.blocolimpo {

    display: block;
}

.blocolimpo::after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#main {
    padding-top: 15px;
}

#content_inner p, .content_inner_int div, .content_inner_int table {
    text-transform: none;
}

.not-front #sidebar {
    padding-top: 1px;
}

#sidebar {
    width: 315px;
    height: auto;
    float: right;
    padding-top: 23px;
}

#sidebar .box {
    width: 315px;
    height: auto;
    margin: 0 0 10px 0;
    float: left;
    background: url("../RES/sombra_side.png") center bottom no-repeat;
}

#sidebar .box .box_bg {
    width: 273px;
    height: auto;
    margin: 0 0 11px 0;
    float: left;
    padding: 20px;
    background: white;
    border: 1px solid #F1F1F1;
}

#sidebar .box p {
    font-family: verdana;
    font-size: 11px;
    color: #818181;
}

#sidebar .box strong em, #sidebar .titulo_bloco {
    background: #f2f2f2;
    display: block;
    padding: 5px 0 5px 15px;
    color: #5280c9 !important;
    font-family: kalinga !important;
    font-weight: bold;
    font-style: normal;
    text-transform: uppercase;
    font-size: 16px !important;
    width: 262px;
}

#content .titulo_bloco {
    font-family: Arial;
    font-size: 1em;
    color: #56aedc;
    margin: 0;
    clear: both;
    font-weight: 600;
}

#sidebar .box ul {
    margin-left: 10px;
    width: 263px;
    float: left;
    overflow: hidden;
    text-transform: uppercase;
}

ul.menu {
    list-style: none;
    border: none;
    text-align: left;
}

#sidebar .box ul li {
    float: left;
    list-style: none;
    width: 100%;
}

ul.menu li {
    margin: 0 !important;
    margin-top: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}

ul.menu li {
    margin: 0 0 0 0.5em;
}

li.leaf {
    list-style-type: square;
    list-style-image: url("../RES/menu-leaf.png");
    padding: 0.2em 0.5em 0 0;
    margin: 0;
}

#sidebar .box ul li a {
    background: url("../RES/line_.png") center bottom repeat-x;
    padding: 10px 0 8px;
    display: block;
    color: #444;
}

#sidebar .box ul li a, #sidebar .box a {
    font-size: 12px;
    color: #797979;
}

li a.active {
    color: #000;
}

li.expanded {
    list-style-type: circle;
    list-style-image: url("../RES/menu-expanded.png");
    padding: 0.2em 0.5em 0 0;
    margin: 0;
}

#sidebar .box ul li ul li a {
    text-transform: uppercase;
    font-size: 11px;
    color: #888;
    padding-left: 8px;
}

#sidebar .box ul li a, #sidebar .box a {
    font-size: 12px;
    color: #797979;
}

.view-id-2016_bannerTopo .views-field-field-imagem-banner-topo-fid {
    margin-top: 0.5em;
}

.views-field-field-imagem-banner-topo-fid {
    margin-bottom: 5px;
    float: left;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

p {
    margin-top: 9px;
    margin-right: 0px;
    margin-bottom: 9px;
    margin-left: 0px;
    font-family: Verdana;
    font-size: 12px;
    color: #818181;
    line-height: 22px;
    font-weight: normal;
}

img{
    border: 0;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

a {
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;

    color: #2367D2;

    font-weight: normal;
}

#footer {
    clear:both;
}

#informaçõesgerais {
    background-color: #e5e5e5;
    padding-top: 1.5em;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#informaçõesgerais .barra {
    text-align: center;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

#formas-contato-home{
    border-top-width: 2em;
    border-top-style: solid;
    border-top-color: rgb(229, 229, 229);
    margin-top: -2em;
    width: 100%;
}

.auto {
    font-family: kalinga;
    background-color: #dfdfdf;
    display: inline-block;
    margin-bottom: 2em;
}

.auto h2{

    font-family: Arial;
    font-size: 15px;
    text-transform: uppercase;
    color: #226B74;
    background-color: #d6d6d6;
    padding: 10px;
}

.formas-contato-home ul {
    height: 2em;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
}

.item-list ul {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0.75em;
    margin-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.auto ul li {
    list-style-type: none;
    float: left;
    font-family: kalinga;
    color: #3a3a3a;
    text-decoration: none;
    margin-left: 10px;
    width: 198px;
}

.item-list ul li{
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0.25em;
    margin-left: 1.5em;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
}

.formas-contato-home .item-list ul li {
    margin: 0.5em 0.5em 1em 0;
    width: 156px;
}

.barra .item-list UL LI {
    margin: 0.5em 0 0 1em; 
    margin: 0.6em 0 0 0.5em;
}

.auto ul li a {
    color: #3a3a3a;
    text-decoration: none;
    font-size: 12px;
    list-style-type: none;
}

#informaçõesgerais .barra .auto img {
    vertical-align: middle;
}

.formas-contato-home img {
    float: left;
    margin-right: 0.4em;
}

#informaçõesgerais {
    background-color: #355993;
    padding-bottom: 1.5em;
}

.assinatura {
    width: 1020px;
    margin: 0 auto;
    background: url("../RES/logo-aguapar-br.png") no-repeat center left;
    border-top: 1px solid #97b8eb;
    padding: 2em 0 0.5em;
    text-align: right;
}

.assinaturacoluna.endereco {
    margin-right: 4em;
}

.assinaturacoluna {
    display: inline-block;
    border-left: 1px solid #244579;
    min-height: 110px;
    padding: 0 1.2em;
    overflow: auto;
    vertical-align: top;
}

#informaçõesgerais p {
    color: #315a9c;
    font-size: 11px;
    line-height: 14px;
    text-align: left;
    font-family: Arial;
}

p.assinaturanome {
    font-size: .85em!important;
    font-weight: 600;
    padding-left: 0 !important;
}

.assinaturacoluna p {
    color: #fff !important;
    font-size: .71em !important;
    padding-top: 3px;
    padding-right: 0px;
    padding-bottom: 3px;
    padding-left: 27px;
    margin: 4px;
}

p.assinaturaendereco {
    background: url("../RES/ic_endereco.png") no-repeat left center;
}

p.assinaturafone {
    background: url("../RES/ic_fone.png") no-repeat left center;
}

p.assinatura-copyright {
    background: url("../RES/ic_copy.png") no-repeat left center;
}

.assinaturacoluna {
    display: inline-block;
    border-left: 1px solid #244579;
    min-height: 110px;
    padding: 0 1.2em;
    overflow: auto;
    vertical-align: top;
}

.coluna2 {
    width: 100px;
}

.assinaturacoluna .face {
    background: url("../RES/ic_facebook.png") no-repeat center center;
}

.coluna2 a {
    display: inline-block;
}

.assinaturacoluna a {
    display: block;
    width: 45px;
    height: 40px;
    margin-top: 28px;
}

.assinaturacoluna .instagram {
    background: url("../RES/ic_instagram.png") no-repeat center center;
}

.assinaturacoluna .youtube {
    background: url("../RES/ic_youtube.png") no-repeat center center;
}

.assinaturacoluna .flickr {
    background: url("../RES/ic_flickr.png") no-repeat center center;
}

.assinaturacoluna .android {
    background: url("../RES/ic_android.png") no-repeat center center;
}

.assinaturacoluna .apple {
    background: url("../RES/ic_apple.png") no-repeat center center;
}